<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project1_flutter">

    <!-- Tambahkan permission untuk mengakses internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="project1_flutter"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Aktivitas utama -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Tema Android yang akan diterapkan saat aktivitas dimulai -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Intent filter untuk aktivitas utama -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent filter untuk skema HTTPS -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="www.linkedin.com" />
            </intent-filter>
        </activity>

        <!-- Meta-data yang digunakan oleh Flutter tool -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Permission untuk mengakses internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Queries yang diperlukan -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
